<div class="crm-container">

  <form data-ng-submit="fetchMemberList()" name="myForm" crm-ui-id-scope>
    <div crm-ui-debug="memberships"></div>
    <div crm-ui-debug="myForm"></div>
    <div crm-ui-debug="filterParameters"></div>
    <div class="filterPane">
       Memberships started between <input crm-ui-datepicker="{time:false}" name="filterStartDate" data-ng-change="validDates()" ng-model="filterParameters.startDate">
       and <input crm-ui-datepicker="{time:false}" name="filterEndDate" data-ng-change="validDates()" ng-model="filterParameters.endDate">
       <span class="error" data-ng-bind="errorMessage"></span> <br />
      <input type="text" name="filterSource" data-ng-model="filterParameters.source" placeholder="Source">
      <input type="checkbox" name="filterActive" data-ng-model="filterParameters.onlyActive"> Only show current members<br />
      <input type="submit" name="filterSubmit" class="filter button" value="Filter">
    </div>
    <table class="striped">
     <thead> 
     <tr>
      <th ng-bind="'Member Contact ID'" ></th>
      <th ng-bind="'Member Name'"></th>
      <th ng-bind="'Membership Source'" ></th>
      <th ng-bind="'Membership start date'" ></th>
      <th ng-bind="'Membership end date'" ></th>
     </tr>
     </thead>
     <tbody>
     <tr ng-repeat="membership in memberships">
      <td ng-bind="membership.contact_id"></td>
      <td ng-bind="membership.membership_name"></td>
      <td ng-bind="membership.source"></td>
      <td ng-bind="membership.start_date"></td>
      <td ng-bind="membership.end_date"></td>
     </tr>
     </tbody>
    </table>
  </form>
</div>
